#gk{
    margin-top: 25px;
    text-align: center;
    color: white;
}
#def{
    text-align: center;
    color: white;
}
#mid{
    text-align: center;
    color: white;
}
html body{
    background-color: #00213b;
}
